        <html>

        <head>
            <title>Post free ads</title>
            <meta charset="utf-8" />
            <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=yes" />
            <meta name="mobile-web-app-capable" content="yes">
            <link rel="stylesheet" type="text/css" href="stylesheets\pad.css">
             <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
            <!-- <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js" integrity="sha256-eGE6blurk5sHj+rmkfsGYeKyZx3M4bG+ZlFyA7Kns7E=" crossorigin="anonymous"></script> -->

            <style>
            
                #loading {
                    position: fixed;
                    display: none;
                    float: left;
                    /*                    margin-left: 5%;*/
                    height: 50px;
                    width: 50px;
                   
                    background-repeat: no-repeat;
                    left: 47%;
                    top: 39%;
                    z-index: 1000000;
                    background-size: 50px 50px;
                }
                
                #loading1 {
                    /*                    position: fixed;*/
                    display: none;
                    float: left;
                    margin-left: 5%;
                    height: 50px;
                    width: 50px;
              
                    z-index: 1000000;
                    background-size: 50px 50px;
                }
                
                .black-out {
                    position: fixed;
                    display: none;
                    background-color: #fff;
                    opacity: 0.7;
                    width: 100%;
                    height: 100%;
                    overflow: hidden;
                    z-index: 100;
                }

            </style>
         </head>

<body style="padding: 20px">
            <center>{{msg}}</center>
            <div class="row container-fluid" style="margin: 10px 50px;">
                <div class="col-sm-18">
                    <a href="home"><img src="images/logo.jpg" style="max-height: 100px;"></a>
                    <hr color="blue">
                </div>
     
                <div id="modal3" class="popupContainer" style="display:none;z-index:1000002">

                   
                            <div id="wrapper-slider">

                                <div id="slide-menu-content">

                                    <div id="user-details-container">
                                    </div>
                                   
                                </div>
                            </div>
                               


                </div>
                      

            </div>
                

                <div id="main-body-container">

                    <div id="main-body-75">

                        <div id="ad-box-container">

                            <div id="heading-container">
                                <span class='heading'>Submit a Free Classified Ad</span>
                            </div>
                            <!-- end of #heading-container-->

                            <form action="/pad" method="POST" name="myForm" onsubmit = "return validateForm()">
                                <div class="step">

                                    <h2 class='steps'>Step 1</h2>
                                    <div class="one-line-container">

                                        <div class="title-class">
                                            <h3 id="category-h3">I want to</h3>
                                        </div>
                                        <!-- end of .title-class-->
                                        <div class="fill-area" id="fill-area-input">
                                            <span class="one-radio"><input type="radio" name="want" value="sell" checked="checked"><span class="radio-hint">Sell</span></span>
                                            <input type="radio" name="want" value="buy"><span class="radio-hint">Buy</span>
                                        </div>
                                        

                                    </div>
                                    <!-- end of .one-line-container-->

                                    
                                    </div>
                                    <!-- end of #ad-title-container-->

                                    <div class="one-line-container" id="category-line-container">

                                        <div class="title-class">
                                            <h3 id="category-h3">Name</h3>
                                        </div>
                                        <!-- end of .title-class-->
                                        <div class="fill-area">
                                            <input name = "bname" type = "text">
                                            <!-- <div class="error-msg" id="ad-cat-err">Please select Category</div> -->
                                        </div>
                                        <!-- end of .fill-area-->

                                    </div>
                                    <!-- end of .one-line-container-->

                                        <div class="fill-area">
                                         
                                        </div>
                                       

                                    <div class="one-line-container" id="course-line-container">

                                        <div class="title-class">
                                            <h3 id="category-h3">Author</h3>
                                        </div>
                                        <!-- end of .title-class-->
                                        <div class="fill-area">
                                            <input type="text" name="author"/>
                                            <div class="error-msg" id="ad-crs-err">Author</div>
                                        </div>
                                        <!-- end of .fill-area-->

                                    </div>
                                    <!-- end of .one-line-container-->

                                    <div class="one-line-container" id="branch-line-container">

                                        <div class="title-class">
                                            <h3 id="category-h3">For Branch</h3>
                                        </div>
                                        <!-- end of .title-class-->
                                        <div class="fill-area">
                                            <input type="text" id='selectBranch' name="branch" />
                                            <ul id="branch-list-post" class="branch-list-post" style="">
                                                <li class="branch-list-li-post"></li>
                                            </ul>
                                            <div class="error-msg error-bran" id="ad-bran-err">Please select Branch</div>
                                        </div>
                                        <!-- end of .fill-area-->

                                    </div>
                                    <!-- end of .one-line-container-->

                                    <div class="one-line-container" id="semester-line-container">

                                        <div class="title-class">
                                            <h3 id="category-h3">For Semester</h3>
                                        </div>
                                        <!-- end of .title-class-->
                                        <div class="fill-area">
                                            <input type = number min="1" max="8" name="sem">
                                          

                                    </div>

                                    <!-- end of .one-line-container-->

                                    <div class="one-line-container" id="subject-line-container">

                                        <div class="title-class">
                                            <h3 id="category-h3">MRP (&#8377;)</h3>
                                        </div>
                                        
                                        <div class="fill-area">
                                            <input type="text" class="form-control" id="postSubject" name="mrp" maxlength="100" style="" >
                                             <div id="subject-hint-c">
                                                 <div class="error-msg-hint" id="ad-sub-hint-img"><img src="http://www.clankart.com/comp_images/left-arrow1.png" alt=""></div> -->
                                               
                                        </div>
                                       

                                    </div>
                                   </div> -->
                                            

                                    
                                        

                                    </div>
                                    <!-- end of .one-line-container-->

                                    <div class="optional-details-four" style="display:none;">

                                        <div class="one-line-container" id="author-line-container">

                                            <div class="title-class">
                                                <h3 id="category-h3">Subject</h3>
                                            </div>
                                            <!-- end of .title-class-->
                                            <div class="fill-area">
                                                <input type='text' name='subject' id='author' maxlength='50' placeholder='Optional' style='' />
                                                <!--                                            onchange="validate_auth();"<div class="error-msg" id="ad-auth-err">Please enter Author</div>-->
                                            </div>
                                            <!-- end of .fill-area-->

                                        </div>
                                        <!-- end of .one-line-container-->

                                        <div class="one-line-container" id="mrp-line-container">

                                            <div class="title-class">
                                                <h3 id="category-h3">Exam Type</h3>
                                            </div>
                                            <!-- end of .title-class-->
                                            <div class="fill-area">
                                            <select id='examType' name='examType' style='' onchange="validate_exam();">
                                                <option disabled selected value='0'>Select Exam Type</option>
                                                <option value='regular'>Regular</option>
                                                <div class="error-msg">Please enter a title</div>
                                                <option value='reappear'>Reappear</option>
                                            </select>
                                            <div class="error-msg" id="ad-exam-err">Please select Exam Type</div>

                                        </div>
                                            <!-- end of .fill-area-->

                                        </div>
                                        <!-- end of .one-line-container-->

                                        <div class="one-line-container" id="year-line-container">

                                            <div class="title-class">
                                                <h3 id="category-h3">Year</h3>
                                            </div>
                                            <!--<div class="error-msg">Please enter a title</div> end of .title-class-->
                                            <div class="fill-area">
                                                <input type='number' oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" type="number" name='year' id='year' maxlength='4' placeholder='Optional' style='' />
                                                <!--                                             onchange="validate_year();"<div class="error-msg" id="ad-year-err">Please enter Year</div>-->

                                            </div>
                                            <!-- end of .fill-area-->

                                        </div>
                                        <!-- end of .one-line-container-->

                                        <div id="ad-desc-container">

                                            <div class="title-class">
                                                <h3 id="category-h3">Ad Description</h3>
                                            </div>
                                            <!-- end of .title-class-->
                                            <div class="fill-area">
                                                <textarea name='postDescription' maxlength='500' id="postDescription" style='' placeholder="Optional" onchange="validate_desc();"></textarea>
                                                <div class="error-msg" id="ad-desc-err">Please enter Ad Description</div>
                                                <br />
                                            </div>
                                            <div id='titleCounterDesc' style='float:right;margin-right:87px;margin-top:8px;color:darkgrey;'>
                                            </div>
                                            <!--end of titleCounter-->
                                            <!-- end of .fill-area-->

                                        </div>
                                        <!-- end of #ad-desc-container-->

                                    </div>
                                    <!-- end of #optional-details-four-->

                                </div>
                                

                                        <!-- end of .fill-area-->

                                    </div>
                                    <!-- end of .one-line-container-->

                                </div>
                                <!-- end of .step-->

                                <div class="step" id="about-you-step">

                                    <h2 class='steps'>Your Contact Information</h2>

                                    <div class="one-line-container" id="own-type-line-container">


                                    </div>
                                    <!-- end of .one-line-container-->

                                    <div class="one-line-container">

                                        <div class="title-class">
                                            <h3 id="category-h3">Name</h3>
                                        </div>
                                        <!-- end of .title-class-->
                                        <div class="fill-area">
                                            <input type='text' name="username" placeholder="name"/>
                                            <!-- <div class="error-msg" id="ad-own-name-err">Please enter your Name</div> -->
                                        </div>
                                        <!-- end of .fill-area-->

                                    </div>      
                                    <!-- end of .one-line-container-->

                                    <div class="one-line-container">

                                        <div class="title-class">
                                            <h3 id="category-h3">Email</h3>
                                        </div>
                                        <!-- end of .title-class-->
                                        <div class="fill-area">
                                            <input type='text' name="email" />
                                            <!-- <div class="error-msg" id="ad-own-email-err">Please enter your Email</div> -->
                                        </div>
                                        <!-- end of .fill-area-->

                                    </div>
                                    <!-- end of .one-line-container-->

                                    <div class="one-line-container">

                                        <div class="title-class">
                                            <h3 id="category-h3">Phone</h3>
                                        </div>
                                        <!-- end of .title-class-->
                                        <div class="fill-area" style="position: relative;">
                                            <div id="isd"></div>
                                            <input type='text' name="pno" />
                                            
                                        </div>
                                        
                                    </div>
                                    

                                    
                                <!-- end of .step-->

                                <div id="agree-container">
                                    <p id="agree">By clicking "Post", you agree to our <a target="_blank"  style="color: blue;">Terms of Use</a>
                                        <!--                                     and <a target="_blank" href="" style="color: blue;">Privacy Policy</a></p>-->
                                </div>
                                <!-- end of #agree-container-->

                                <div class="step">
                                    <div id="post-ad-container-both">
                                        <div id="post-ad-both">
                                            <!--                                            <a href="http://www.clankart.com/post-ad"><h3>Post</h3></a>-->
                                            <input type="Submit" id="post-btn" value="Post">
                                        </div>
                                        <!-- end of #post-ad-both-->
                                    </div>
                                    <div id="loading1"></div>
                                    <!-- end of #post-ad-container-both-->
                                </div>
                                <!-- end of .step-->

                            </form>
                        </div>
                        <!-- end of #ad-box-container-->

                    </div>
                    <!-- end of #main-body-75-->

                </div>
                <!-- end of #main-body-container-->

            </div>
            

    
    
            <script>               

                // function validateForm() {
                //     var bname = document.forms["myForm"]["bname"].value;
                //     var mrp = document.forms["myForm"]["mrp"].value;
                //     var author = document.forms["myForm"]["author"].value;
                //     var branch = document.forms["myForm"]["branch"].value;
                //     var sem = document.forms["myForm"]["sem"].value;
                    
                //     console.log(bname+" "+author+" "+branch+" "+sem+" "+mrp+" ");

                //     // if (bname == "" || author == "" || branch == ""||sem == ""||mrp == "") {
                //         if(mrp  == "")
                //             alert("must be filled out");
                            
                //         return false;
                //     }
                //}      
        


</script>
               
           

        </body>

        </html>
